/* -------------------------------------------------------------------------- */
/*                            BaseModal                                       */
/* -------------------------------------------------------------------------- */

.modal * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.modal {
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  overflow-y: auto;
  margin: 32px;
  color: white;
  position: relative;
  pointer-events: all;
  z-index: 10;
  width: 652px;
  height: 512px;
  max-width: 85%;
  max-height: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
}

.modal-header {
  font-weight: bold;
  font-size: 28px;
  text-align: start;
  margin: 0;
  padding: 0;
}

.close-modal {
  padding: 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  line-height: 1;
}

.close-modal:hover {
  opacity: 0.8;
}

.modal button {
  background-color: #121212;
  color: white;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.modal select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.modal select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
}

.modal select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #777;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.modal select::-ms-expand {
  display: none;
}

.modal input {
  width: 100%;
  width: 45ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 8px 16px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
}
